{% extends "documentation/index.html" %}

{% block parent %}Building API{% endblock %}
{% block child %}GET buildings/search{% endblock %}

{% block main %}
<h1>GET buildings/search</h1>
<div class="text">
	<p>
		Returns a list of buildings that match a text search on the <code>code</code>, <code>name</code>, and <code>short_name</code> keys.
	</p>

	<h2>URL</h2>
	<p>
		<pre><code class="code-block http">https://cobalt.qas.im/api/1.0/buildings/search</code></pre>
	</p>

	<h2>Parameters</h2>
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>key</code>
				<div class="sub">required</div>
			</div>
			<div class="grid-80">
				Your unique API key.
			</div>
		</div>
	</p>
	<hr />
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>q</code>
				<div class="sub">required</div>
			</div>
			<div class="grid-80">
				The string to perform a text search with. It is also possible to do a verbatim search by surrounding the string in double quotes.
			</div>
		</div>
	</p>
  <hr />
  <p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>limit</code>
				<div class="sub">optional</div>
			</div>
			<div class="grid-80">
				The number of results to return, up to a maximum of 100 per request. The default value is 10.
			</div>
		</div>
	</p>
	<hr />
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>skip</code>
				<div class="sub">optional</div>
			</div>
			<div class="grid-80">
				The number of results to skip. The default value is 0.
			</div>
		</div>
	</p>
  <hr />
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>sort</code>
				<div class="sub">optional</div>
			</div>
			<div class="grid-80">
        <p>
          The sorting procedure to be used on the returned list. A <code>+</code> before a parameter implies ascending, and a <code>-</code> implies descending. You can also stack procedures, separating them with a space.<br />(eg. <code>+id -department</code>)
        </p>
        <p>
          The default value is <code>+id</code> (sort by id, ascending).
        </p>
			</div>
		</div>
	</p>

	<h2>Example</h2>
	<p>
		<pre><code class="code-block http">https://cobalt.qas.im/api/1.0/buildings/search?q=SF</code></pre>
	</p>
	<p>
		<pre><code class="code-block json">[
  {
    "id":"009",
    "code":"SF",
    "name":"Sandford Fleming Building",
    "short_name":"Sandford Flm",
    "campus":"UTSG",
    "lat":43.66012,
    "lng":-79.3951,
    "address":{
      "street":"10  King's College Road",
      "city":"Toronto",
      "province":"ON",
      "country":"Canada",
      "postal":"M5S 3G4"
    }
  }
]</code></pre>
	</p>
</div>
{% endblock %}
